<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Rick Portal Gun
        link(rel="stylesheet", href="/css/reset.css")
        link(rel="stylesheet", href="/css/main.css")
    body
        header(class="header")
            nav
                ul
                    li(class="header__link"): a(href="/") Rick Portal Gun
                    li(class="header__link"): a About
                    li(class="header__link"): a Github
        main
            section(class="project-description")
                h1(class="project-description__title rick-tittle") Rick Portal Gun
                p(class="project-description__subtitle rick-tittle") This site allow you to search a lot of content about the Rick and Morty series.
            section
                form(action="/character" method="get" class="search-form")
                    label(for="search-type" class="rick-tittle") Select what you want to search
                    select(name="search-type" class="search-form__input")
                        option(value="character" selected) Character
                        option(value="episode") Episode
                        option(value="location") Location
                    label(for="name" class="rick-tittle") Character name
                    input(type="text" name="name" placeholder="Morty" class="search-form__input")
                    label(for="satus" name="character status" class="rick-tittle") Character status
                    select(name="status" class="search-form__input")
                        option(value="alive" selected) Alive
                        option(value="dead") Dead
                        option(value="unknown") Unknown
                    button Search
            section(class="api-data")
                each character in characters
                    div(class="card")
                        img(src=`${character.image}`, alt="descritive image", class="card__image")
                        div(class="card__character-name") #{character.name}
                        div(class="card__character-info") 
                            span Status
                            p #{character.status}
                        div(class="card__character-info")
                            span Gender
                            p #{character.gender}
                        div(class="card__character-info") 
                            span Species
                            p #{character.gender}
                if pagesInfo && pagesInfo.pages > 1
                    h1 passei aqui
                    - var pagesIterator = 0;
                    div(class="pagination")
                        while pagesIterator < pagesInfo.pages
                            - pagesIterator++
                            div(class="pagination__item")
                                a(href=`http://localhost:3000/character?${queryString}&page=${pagesIterator}`) #{pagesIterator}
        footer(class="footer")
            a(href="https://leandrols.github.io", target="__blank") Blog